@model IEnumerable<MvcContributor.Models.Contributor>

@{
    ViewBag.Title = "Index";
}

    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-6">
                @Html.TextBox("SearchString", null, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                <input type="submit" class="btn btn-outline-warning" value="Search" />
            </div>
            @*<div>
                <button class="btn btn-outline-danger"><i class="material-icons">accessibility</i></button>
            </div>*@
            <div class="col-3">
                <input type="button" class="btn btn-outline-success" value="Create New" onclick="location.href='@Url.Action("Create", "Contributors")'" />
            </div>
        </div>
        <hr>
    }
        
            <table class="table table-sm thead-light">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BirthDate)
                    </th>
                    @*<th>
                    @Html.DisplayNameFor(model => model.BirthPlace)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Biography)
                </th>*@
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                @*<td>
                @Html.DisplayFor(modelItem => item.BirthPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Biography)
            </td>*@
                <td>
                    <button type="button" class="btn btn-outline-info col-3" value="Edit" onclick="location.href='@Url.Action("Edit", "Contributors", new { id = item.ID })'">Edit</button>
                    <button type="button" class="btn btn-outline-danger col-3" value="Delete" onclick="location.href='@Url.Action("Delete", "Contributors", new { id = item.ID })'">Delete</button>
                </td>
            </tr>
}

            </table>
      
