@model MvcContributor.Models.Contributor

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm("Edit", "Contributors", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
<div class="row">
    <div class="col-8">
        <h4>Edit contributor</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.ImagePath)

        <div class="form-group row">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-6" }) 
            @Html.LabelFor(model => model.BirthName, htmlAttributes: new { @class = "control-label col-6" })
            <div class="col-6">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            <div class="col-6">
                @Html.EditorFor(model => model.BirthName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BirthName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.BirthDate, htmlAttributes: new { @class = "control-label col-6" })
            @Html.LabelFor(model => model.BirthPlace, htmlAttributes: new { @class = "control-label col-6" })
            <div class="col-6">
                @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
            </div>
            <div class="col-6">
                @Html.EditorFor(model => model.BirthPlace, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BirthPlace, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.Biography, htmlAttributes: new { @class = "control-label col-12" })
            <div class="col-12">
                @Html.TextAreaFor(model => model.Biography, new { @class = "form-control", @rows = 4 } )
                @Html.ValidationMessageFor(model => model.Biography, "", new { @class = "text-danger" })
            </div>
            <p class="col-6" id="textareafeedback"></p>
        </div>
        

        @*<div class="form-group">
            @Html.LabelFor(model => model.ImagePath, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-12">
                @Html.EditorFor(model => model.ImagePath, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ImagePath, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group row justify-content-center">
            <input type="file" name="file" id="file" class="col-6" />
            <input type="submit" value="Upload" name="SubmitButton" class="btn btn-outline-warning col-2" />
        </div>
        @ViewBag.Message
        <div class="form-group row justify-content-center">
            <div class="col-3">
                <input type="submit" value="Save" name="SubmitButton" class="btn btn-outline-success" />
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-outline-primary col-12" value="Cancel" href="javascript:void(0);" onclick="history.go(-1);">Cancel</button>
            </div>
        </div>

    </div>
    <div class="col-4">

        <div>
            <h3>Preview headshot</h3>
            <div style="
                position: relative;
                width: 300px;
                height: 300px;
                overflow: hidden;
                border-radius: 50%;">
                @{  
                    if (Model.ImagePath != null)
                    {
                        string imgPath = Model.ImagePath.Remove(0, 1);
                        <img src="@imgPath" style="width: 100%;height: auto;" alt="IMAGE" />
                    }
                    else
                    {
                        <img src="~/Content/Images/preview.jpg" style="width: 100%;height: auto;" alt="IMAGE" />
                    }
                    
                 }
            </div>
            
        </div>
    </div>
</div>
   

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {
        var text_max = 250;
        var text_length = $('#Biography').val().length;
        var text_remaining = text_max - text_length;
        $('#textareafeedback').html(text_remaining + '/250 characters');

        $('#Biography').keyup(function () {
            var text_length = $('#Biography').val().length;
            var text_remaining = text_max - text_length;

            $('#textareafeedback').html(text_remaining + '/250 characters');
        });
    });
</script>
}
