@model PagedList.IPagedList<MvcContributor.Models.Contributor>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}
@section Scripts
{
    <script>

    </script>
}
@using (Html.BeginForm(@*"Index", "Contributor", FormMethod.Get*@))
{

<div class="row col-8">
    <div class="col-6 input-group">
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Search" })
        <div class="input-group-append">
            <button class="btn btn-outline-warning" type="submit" value="Search">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
    @*<div class="col-md-3">
            <button type="submit" class="btn btn-outline-warning" value="Search"></button>
        </div>*@
    @*<div>
            <button class="btn btn-outline-danger"><i class="material-icons">accessibility</i></button>
        </div>*@
    <div class="col-3">
        <input type="button" class="btn btn-lg btn-outline-success" value="Create New" onclick="location.href='@Url.Action("Create", "Contributors")'" />
    </div>
    <div class="col-3">
        <input type="button" class="btn btn-lg btn-outline-primary" value="Create from TMDB" onclick="location.href='@Url.Action("Index", "Api")'" />
    </div>
</div>
<hr>
}

<div class="row col-8">
    <table class="table table-sm table-hover">
        <thead class="thead-light">
            <tr>
                <th>
                    @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                    @*<button type="button" class="btn btn-outline-info" value="SortName" onclick="location.href='@Url.Action("Name", "Index", new { sortOrder = ViewBag.NameSortParm })'">SortName</button>*@
                    @*@Html.DisplayNameFor(model => model.Name)*@
                </th>
                <th>
                    @Html.ActionLink("Birth Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
                    @*@Html.DisplayNameFor(model => model.BirthDate)*@
                </th>

                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BirthDate)
                    </td>

                    <td>
                        <button type="button" class="btn btn-outline-info" value="Edit" onclick="location.href='@Url.Action("Edit", "Contributors", new { id = item.ID })'">Edit <i class="fas fa-edit"></i></button>
                        <button type="button" class="btn btn-outline-danger" value="Delete" onclick="location.href='@Url.Action("Delete", "Contributors", new { id = item.ID })'">Delete <i class="fas fa-trash"></i></button>
                        @*href="@Url.Action("EditBookByID", "Books", new { bookID = item.BookDetailsID, CreatedBy = item.UserID })" onclick="return confirm('Are you sure you want to Edit?')">*@
                    </td>
                </tr>
            }
        </tbody>

    </table>
    <br />
    <div class="row col-12 justify-content-center">
        <div class="col">
            <p>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</p>
        </div>
        <div class="col-8">
            @Html.PagedListPager(Model, page => Url.Action("Index",
      new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions { LinkToFirstPageFormat = "<<", LinkToPreviousPageFormat = "<", LinkToNextPageFormat = ">", LinkToLastPageFormat = ">>", MaximumPageNumbersToDisplay = 5 })
        </div>
    </div>
</div>
